body {
  background-image: url(./images/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  /* body layout */
  padding: 1rem;
  min-height: calc(100vh - 4rem);
  height: 100%;
  display: flex;
  align-items: center;

  /* body animations */
  animation-name: body;
  animation-iteration-count: infinite;
  animation-delay: 1.5s;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  transition: 0.5s ease;
}

/* main */
main {
  background-image: radial-gradient(purple, #000);
  width: 100%;
  max-width: 600px;
  min-height: 60vh;
  margin: 0 auto;
  padding: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

  /* main animations */
  animation-name: outline;
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 30ms;
  box-shadow: 0 0 100px #000;
}

.meme-container {
  flex: 1;
  overflow: hidden;
  text-align: center;
  height: 100%;
}

button {
  border: 2px solid white;
  color: white;
  background: transparent;
  font-weight: 600;
  padding: 1rem 4rem;
  border-radius: 1rem;
  box-shadow: 0 0 100px #000;
  cursor: pointer;

  /* button animations */
  animation-name: button;
  animation-timing-function: ease;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-delay: 30ms;
}

button:hover {
  background: white;
  border-color: white;
  color: purple;
  transition: 0.1s ease-in-out;
}

.first-circle1 {
  background-color: black;
  padding: 5px 10px;
  margin-top: 1rem;
  margin-left: 55rem;
  outline: 3px solid purple;
  border-radius: 50%;
  height: 10vh;
  color: black;
  width: 4%;
  scale: 0.8;
}

.first-circle2 {
  background-color: black;
  padding: 5px 10px;
  margin-top: -4.5rem;
  margin-left: 20rem;
  outline: 3px solid purple;
  border-radius: 50%;
  height: 10vh;
  color: black;
  width: 4%;
  scale: 0.8;
}

.swing-circle1 {
  animation-name: swing1;
  animation-timing-function: ease;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-delay: 30ms;
}

.swing-circle2 {
  animation-name: swing2;
  animation-timing-function: ease;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-delay: 30ms;
}

/* Animation Keyframes */
@keyframes swing1 {
  0% {
    background-color: orange;
  }

  100% {
    transform: translate(-1000%);
    transition: 0.3s ease-in;
    background-color: blue;
  }
}

@keyframes swing2 {
  0% {
    background-color: red;
  }

  100% {
    transform: translate(1000%);
    transition: 0.3s ease-in;
    background-color: lime;
  }
}

@keyframes outline {
  /* making the outline to be moving aroung the screen */

  0% {
    outline: 5px solid lime;
  }

  50% {
    outline: 5px solid blue;
  }
  75% {
    outline: 5px solid rgb(221, 31, 221);
  }

  100% {
    outline: 5px solid rgb(0, 229, 255);
  }
}

@keyframes outline2 {
  /* making the outline to be moving aroung the screen */

  0% {
    outline: 5px solid rgb(0, 229, 255);
  }

  50% {
    outline: 5px solid lime;
  }
  75% {
    outline: 5px solid blue;
  }

  100% {
    outline: 5px solid rgb(221, 31, 221);
  }
}

@keyframes body {
  0% {
    background-image: url(./images/bg2.jpg);
    transition: 0.5s ease;
    background-repeat: no-repeat;
    background-size: cover;
  }

  50% {
    background-image: url(./images/bg1.jpg);
    transition: 0.5s ease;
    background-repeat: no-repeat;
    background-size: cover;
  }
  100% {
    background-image: url(./images/bg2.jpg);
    transition: 0.5s ease;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
